<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Detail</title>
</head>
<body>
    <h1 th:text="${post.title}">Post Title</h1>
    <p th:text="${post.description}">Post Description</p>
    <p th:text="${post.location}">Location</p>
    <p th:text="${post.latitude}">Latitude</p>
    <p th:text="${post.longitude}">Longitude</p>
    <a th:href="@{/posts/edit/{id}(id=${post.id})}">Edit Post</a>
    <a th:href="@{/posts/delete/{id}(id=${post.id})}">Delete Post</a>
    <a href="/posts">Back to Posts List</a>
</body>
</html>